@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:800');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
body{
    font-family: 'Alegreya Sans', sans-serif;
    background-color: #FFFFF2;
    


    
}


*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.wrapper{
    
    display: flex;
    position: relative;
}

.wrapper .sidebar{
    position: fixed;
    width: 210px;
    height: 100%;
    background: #003249;
    border-color: rgba(0, 0, 0, 0.3);     
    padding: 30px 0;
    overflow: auto;
   


}

.permisito{
    text-decoration: none;
}



.wrapper .sidebar .permisote, .permisito{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px ;

}
 
.TitleRoot{
    text-align: center;
}

.wrapper .scrollbar::-webkit-scrollbar{
    width: 7px;
    background: #000

}
.pedo{
    display:block;
    padding: 20px 30px;
    font-size: 20px;
    color: #E9EBED;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    border-top: 1px solid rgba(225, 225, 225, 0.2);
    
}

.rutas:hover{
    background: #377EB2;
    transition: 0.5s;
}

.rutas:hover .pedo{
    color:#fff;
 
  
}


.logout{
    display: inline-block;
    font-size: 25px;
    color: #fff;
    margin-left: 160px;
    transform: rotate(180deg);
}

.homeh1{
    text-align: center;
 
    
}


.table{
margin: 0 auto;
text-align: left;
  overflow: hidden;
  width: 50%;
  margin: 25px auto;
display: table;
padding: 0 0 8em 0;
border-radius: 5px 5px 0 0;

}
.table thead tr{
    background-color: #007EA7;
    color: #fff;
    text-align: left;
    font-weight: bold;


}



.table td, .table th{
    padding-bottom: 2%;
	  padding-top: 2%;
  padding-left:2%;  
}

.table th, table td{
    padding: 12px 15px;
}

.table tbody tr{
    border-bottom: 1px solid #dddddd;
}



.table tbody tr:last-of-type{
    border-bottom: 2px solid #007EA7;;
}

.table tr:nth-child(odd){
    background-color: #DDFFF7;
}

.table tr:nth-child(even){
    background-color: #DDFFF7;
}

.table th{
    background-color: #007EA7;
    font-weight: bold;
}

.table td:first-child{
    font-weight: bolder;
}



.table td:hover{
    background-color: #AFD0D6;
    color: #403E10;
    font-weight: bold;
    
    box-shadow: #A5D8FF -1px 1px, #A5D8FF -2px 2px, #A5D8FF -3px 3px, #A5D8FF -4px 4px, #A5D8FF -5px 5px, #A5D8FF -6px 6px;
    transform: translate3d(6px, -6px, 0);
    
    transition-delay: 0s;
        transition-duration: 0.4s;
        transition-property: all;
    transition-timing-function: line;
}

.table tr:hover {
    background-color: #D3F8E2;
 -webkit-box-shadow: 0 6px 6px -6px #0E1119;
        -moz-box-shadow: 0 6px 6px -6px #0E1119;
             box-shadow: 0 6px 6px -6px #0E1119;
 }


/*
.tablefactura{
    border-collapse: collapse;
    margin: 0 auto;
    text-align: left;
	  overflow: hidden;
	  width: 50%;
	  margin: 25px auto;
  display: table;
  padding: 0 0 8em 0;
    
}

.tablefactura thead tr{
    font-weight: bolder;
	  font-size: 1em;
  text-align: left;
  color: #ffff;
  
}

.tablefactura td{
    font-weight: normal;
    font-size: 1em;
-webkit-box-shadow: 0 2px 2px -2px #0E1119;
     -moz-box-shadow: 0 2px 2px -2px #0E1119;
          box-shadow: 0 2px 2px -2px #0E1119;
}

.tablefactura td, .table th{
    padding-bottom: 2%;
	  padding-top: 2%;
  padding-left:2%;  
}

.tablefactura tr:nth-child(odd){
    background-color: #DDFFF7;
}

.tablefactura tr:nth-child(even){
    background-color: #DDFFF7;
}

.tablefactura th{
    background-color: #007EA7;
    font-weight: bold;
}

.tablefactura td:first-child{
    font-weight: bolder;
}



.tablefactura td:hover{
    background-color: #AFD0D6;
    color: #403E10;
    font-weight: bold;
    
    box-shadow: #A5D8FF -1px 1px, #A5D8FF -2px 2px, #A5D8FF -3px 3px, #A5D8FF -4px 4px, #A5D8FF -5px 5px, #A5D8FF -6px 6px;
    transform: translate3d(6px, -6px, 0);
    
    transition-delay: 0s;
        transition-duration: 0.4s;
        transition-property: all;
    transition-timing-function: line;
}

.tablefactura tr:hover {
    background-color: #D3F8E2;
 -webkit-box-shadow: 0 6px 6px -6px #0E1119;
        -moz-box-shadow: 0 6px 6px -6px #0E1119;
             box-shadow: 0 6px 6px -6px #0E1119;
 }


*/
 /*FacturaVer*/

 .ver{
     border: 1px solid rgba(0, 0, 0, 0.3);
     padding: 10px 10px 20px 10px;
     margin: 10px auto;
     box-shadow: 2px 2px 3px #DADADA;
     width: 30%;
     background-color: #FFF;
     font-family: 'Bebas Neue', cursive;
     border-radius: 5px 5px 5px 5px;
     
 }

 .ver div{
     display: inline-block; 
 }

 .name, .namecan{
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
    

 }

 .namecan{
     margin-bottom: 20px;
 }
.verfactura{    
    font-weight: normal;
}
 span.detalle, span.actualizar, span.eliminar{
    border-radius: 5px 5px 5px 5px;
     cursor: pointer;
     background: rgba(0, 0, 0, 0.7);
     color: #E9EBED;
     padding: 8px 10px;
     margin: 20px; 
     text-decoration: none;
     
 }

 span.actualizar{
     background-color: #087E8B;
 }

span.eliminar{
    background-color: #FE5F55;

}
 .nosee{

     color: #FFFF;
 }
 
 .facturah1{
     text-align: center;
  
 }


 /* Factura Ingresar */

.insertarinvi{
    background-color: #fff;
    width: 380px;
    max-width: 100%;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
    position: relative; 
}
 
 .insertar{
    background-color: #fff;
    width: 450px;
    max-width: 100%;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
    position: relative;
 }

 .agregar, .ingresarf{
    border-radius: 5px 5px 5px 5px;
     cursor: pointer;
     width: 100px;
     text-align: center;
     background: rgba(0, 0, 0, 0.7);
     color: #E9EBED;
     padding: 8px 10px;
     margin: 8px auto;
     text-decoration: none;
   
 }

 .insertinvl{
       font-size: 1em;
    margin: 3px 3px;
    font-weight: bold;
 }

 .selectito{
    font-size: 1em;
    margin: 3px 3px; 
    margin-left: 42px;
 }

 .invih1{
     text-align: center;
 }

 .insertlabel, .insertinput,.checkl{
    font-size: 1em;
    margin: 3px 3px;
 }

 .checkl{
     margin: 0 -2px;
 }

.numerooto{
    width: 125px;
    font-size: 1em;
    margin-left: 28px;
}

.numero{
    width: 125px;
    font-size: 1em;
}
 
.insertlabel{
    font-weight: bold;
}
.insertinput{
    
  border: 1px solid rgba(0, 0, 0, 0.3);

  
}

.insertinput:focus{
    outline: 1px solid rgba(0, 0, 0, 0.7);
}

.numero:focus{
    outline: 1px solid rgba(0, 0, 0, 0.7);
}



.tablefacturaupdate{
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
    
  margin: 25px auto;
  font-size: 0.9em;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.tablefacturaupdate thead tr{
    background-color: #40798C;
    color: #fff;
    text-align: left;
    font-weight: bold;

}
.tablefacturaupdate tr td{
    
    text-align: right;
}

.tablefacturaupdate th, .tablefacturaupdate td{
    padding: 12px 15px;


}

.tablefacturaupdate tbody tr{
    border-bottom: 1px solid #dddddd;
    
}

.tablefacturaupdate tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
    width:500px
}

.tablefacturaupdate tbody tr:last-of-type{
    border-bottom: 2px solid #40798C;
}

.tablefacturaupdate th{
    background-color: #40798C;
    color: #ffff;
}

/*Table factura insertar*/
.tablefactura{
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
    
  margin: 25px auto;
  font-size: 0.9em;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}

.tablefactura thead tr{
    background-color: #40798C;
    color: #fff;
    text-align: left;
    font-weight: bold;

}

.tablefactura th, .tablefactura td{
    padding: 12px 15px;


}

.tablefactura tbody tr{
    border-bottom: 1px solid #dddddd;
}

.tablefactura tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

.tablefactura tbody tr:last-of-type{
    border-bottom: 2px solid #40798C;
}

.tablefactura th{
    background-color: #40798C;
    color: #ffff;
}


.totalito{
    text-align: right;
    font-weight: bold;
}
.tablefactura td:first-child{
    font-weight: bolder;
}

.backi{
    
    font-size: 25px;
    color: #fff;

    text-decoration: none;
    float: right;
    
}

.back{
    font-size: 40px;
    color: #000;
}

.updates{
    background-color: #fff;
    width: 450px;
    max-width: 100%;
    margin: auto;
    margin-top: 10px;
    padding: 20px;
    font-size: 1em;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
    position: relative;
}


.updateDetalle{
    text-align: center;
    
}

.insertarup{
    background-color: #fff;
    width: 450px;
    max-width: 100%;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
    position: relative;
    font-size: 1em;
}

.numbercito{
    margin-left: 7px;
}

.platillito{
    margin-left: 8px;
}

.labeltit{
    font-weight: bold;
}
.numbercito:focus{
    outline: 1px solid rgba(0, 0, 0, 0.7);
}


.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
  }
  .popup_inner {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
    margin: auto;
    background: white;
  }

  .verdetallito{
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 10px 10px 20px 10px;
    margin: 10px auto;
    box-shadow: 2px 2px 3px #DADADA;
    width: 35%;
    background-color: #FFF;
    font-family: 'Bebas Neue', cursive;
    border-radius: 5px 5px 5px 5px;
    
}

.verdetallito div{
    display: inline-block; 
}


.box {
  margin-bottom: 20px;
  }
  
  .plsesteya {
    font-size: 50px;
    color: #fff;
    position: relative;
    margin-bottom: 50px;
    text-decoration: none;
    float: right;
    transform: rotate(180deg);
    
  }

  
 
  
  .cerrarito{
      text-align: center;
  }

  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popupcito {
    margin: 0px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 20%;
   

    transition: all 5s ease-in-out;
  }
  
  .popupcito h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popupcito .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popupcito .close:hover {
    color: #06D85F;
  }
  .popupcito {
    max-height: 30%;
    overflow: auto;
  }

  .Cerrar{
    border-radius: 5px 5px 5px 5px;
     cursor: pointer;
     background: rgba(0, 0, 0, 0.7);
     color: #E9EBED;
     padding: 8px 10px;
     margin: 20px 24px; 
     text-decoration: none;
     position: relative;
     width: 100px;
    
  }



  .noCerrar{
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.7);
    color: #E9EBED;
    padding: 8px 42px;
    margin: 20px 45px; 
    text-decoration: none;
    position: relative;
    

  }
  .cierrita{
    font-size: 40px;
    color: #000;
  }


span.actuinv, span.actubor{
    border-radius: 5px 5px 5px 5px;
     cursor: pointer;
     background: rgba(0, 0, 0, 0.7);
     color: #E9EBED;
     padding: 8px 10px;
     margin: 20px ; 
     text-decoration: none;
     position: relative;
}

span.actubor{
    margin-left: 70px;
    background-color: #FE5F55;
}

span.actuinv{
    margin-left:50px;
    background-color: #087E8B;
}

.InventarioH1{
    text-align: center;
}

.updateuser{
    text-align: center;
}

.borrita{
    text-decoration: none;
    color: #ffff;
}

.popita{
    margin: 200px 765px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 20%;


    transition: all 5s ease-in-out;

}


  
  .popita h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popita .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popita .close:hover {
    color: #06D85F;
  }
  .popita {
    max-height: 30%;
    overflow: auto;
  }


  .botoncitos{
      display: flex;
      justify-content: center;
  }